.footer {
  background-color: $color-secondary;
  grid-column: full-start/full-end;

  padding: 8rem;
}
.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  align-items: flex-start;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    text-align: center;
    transition: all 0.3s;
  }
  &__link:hover {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}
.copyright {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
}
